Flask==1.1.2
WTForms==2.3.3
email-validator==1.1.2
flask-mysqldb==0.2.0
passlib==1.7.4
PyYAML==5.4.1
python-dotenv==0.15.0
git+https://github.com/lioramilbaum/meetup-api.git@access_token
slacker==0.14.0
hvac==0.10.6
boto3==1.16.63
