<div class="icon-bar">
    <a href="https://www.facebook.com/groups/devopsloft/" class="facebook">
      <i class="fa fa-facebook"></i>
    </a> 
    <a href="https://github.com/devopsloft/devopsloft" class="github">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://devopsloft.slack.com" class="slack">
      <i class="fa fa-slack"></i>
    </a>
    <a href="https://www.youtube.com/channel/UChv_8AbbznYS-xa256nXV6w" class="youtube">
      <i class="fa fa-youtube"></i>
    </a> 
  </div>
