{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div>
  <p>DevOps is a combination of software development (Dev) and information technology operations (Ops). DevOps is a set of software development practices that aim to shorten the systems development life cycle while delivering features, fixes, and
    updates frequently in close alignment with business objectives. <a href="https://en.wikipedia.org/wiki/DevOps">(wikipedia)</a></p>
  <p>The DevOps area is a relatively new area in the tech industry, yet it was changed numerous times during the past few years.</p>
  By definition, DevOps is a wide area which involves:
  <ul>
    <li>Development</li>
    <li>Operations</li>
    <li>Tests</li>
    <li>and many more</li>
  </ul>
  <p>Basically, if it is not the actual coding of your product, it's DevOps.</p>

  <h3>Why?</h3>
  <p>The requirement for DevOps engineers increases while experienced and knowledgeable people are hard to find.</p>

  <h3>What?</h3>
  <p>The community mission is sharing DevOps knowledge by practice. We are
    implementing an open source web app (www.devopsloft.io), while picking up
    DevOps technologies, like: git (GitHub), AWS, Linux, scripting, Jenkins,
    Chef/Ansible.

  The goal of the community is addressing the lack of experienced DevOps
  specialists to fulfill the increasing demand.
   <h3>Architecture of our app</h3>
    <div style="width: 640px; height: 480px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" style="width:640px; height:480px" src="/images/diagram.png" id="Cpqj~V8fNk9I"></iframe></div>
  <h3>How?</h3>
  The how is actually divided in 2, Engineers and Hiring Managers.
  <h4>For engineers:</h4>
  <p>If you wish to extend your knowledge, gain experience and find a job, we
    can provide you with a platform to learn and experience using workshops in
    various topics of DevOps. You can also learn from the experience of other
    community members as well as ask for their assistance.
    <br>The learned material in our workshops can later be exercised by
    contributing of our shared application which is an open source project that
    is being used by our community, thus gaining the very valuable experience
    and reputation in the industry.</p>
  <h4>For hiring managers:</h4>
  <p>You can post positions, get familiar with potential candidates in our meetings, as well as examine the expertise of the developers and contributors of our shared community application.</p>

  <h3>Who?</h3>
  <p>We recommend having a technical academic degree or equivalent relevant experience (DEV/IT/OPS) from those who wish to join our community. It is also highly recommended to have the ability to read and write code.</p>

  <h3>How to join?</h3>
  We are having weekly meetings free of charge, most of our meetings are streamed live and recorded for offline use.
</div>
{% endblock %}
