.*
!/.env
!/.gitattributes
!/.gitignore
!/.travis.yml
venv
AUTHORS
build/*
ChangeLog
doc/build/*
dist/
playbooks/*.retry
*local
devopsloft_workspace.code-workspace
aws_ubuntu.pem
*~
*.log
mod_auth
__pycache__
