.*
!/*.example
!/.gitattributes
!/.gitignore
!/.github/
AUTHORS
ChangeLog
doc/build/*
dist/
playbooks/*.retry
*local
devopsloft_workspace.code-workspace
*.key
*.crt
*~
*.log
mod_auth
__pycache__
record-set-*.json
*.tfstate*
