.*
!/*.template
!/.gitattributes
!/.gitignore
!/.travis.yml
venv
AUTHORS
build/*
ChangeLog
doc/build/*
dist/
playbooks/*.retry
*local
devopsloft_workspace.code-workspace
*.pem
*~
*.log
mod_auth
__pycache__
record-set-*.json
