# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|

	config.vm.define "dev" do |dev|

		dev.vm.provider :virtualbox do |virtualbox,override|
		end

	end

	config.vm.define "stage" do |stage|

		stage.vm.provider :aws do |aws,override|
			aws.keypair_name = "aws_rsa"
			aws.ami = "ami-d2414e38"
			aws.instance_type = "t2.micro"
			aws.region = "eu-west-1"
			aws.subnet_id = "subnet-2c67fe64"
			aws.security_groups = ["sg-7b78fe07"]
			aws.associate_public_ip = true

			override.ssh.username = "ubuntu"
			override.ssh.private_key_path = "~/.ssh/aws_rsa.pem"
		end
	end

end
