events {}

http {
  server {
    listen {{ WEB_HOST_SECURE_PORT }} ssl;
    server_name localhost;
    ssl_certificate /cert.pem;
    ssl_certificate_key /key.pem;
    location / {
      proxy_pass http://app:{{ APP_HOST_PORT }}/;
    }
  }

  server {
    listen {{ WEB_HOST_PORT }};
    server_name localhost;
    location / {
      proxy_pass http://app:{{ APP_HOST_PORT }}/;
    }
  }
}
