body{
    margin:2rem;
    font-family: arial;
    font-size:1rem;
}
header{
    display:flex;
    align-items:center;
}
#logo{
    font-weight:bold;
    font-size:2rem;
    margin-right:2rem;
}
.marginBottom1{
    margin-bottom:1rem;
}
#menu .itm{
    margin-right:1rem;
}
@media only screen and (max-width:600px){
    header{
        display:block !important;
    }
    #menu{
        margin-top:1rem;
    }
    #menu .itm{
        margin-right:0.5rem;
    }
}