<nav class="site-header sticky-top bg-white border-bottom box-shadow ">
<div class="container">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <a class="mr-md-auto font-weight-normal" href="{{ url_for('home') }}">
                <img src="/static/logo.png" width="80" height="80" class="d-inline-block align-top" alt="">

            </a>
        </div>
        <div class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{ url_for('home') }}">Home</a>
            <a class="p-2 text-dark" href="{{ url_for('about') }}">About</a>
            <a class="p-2 text-dark" href="{{ url_for('contact') }}">Contact</a>
            <a class="p-2 text-dark" href="{{ url_for('subscribe') }}">Subscribe</a>
        </div>
        {% if name.username %}

      <div class="nav-item dropdown align-self-center">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome, {{ name.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
          </div>
        </div>
    {% else %}

      <a class="btn btn-outline-success mr-1 " href="{{ url_for('login') }}">Login</a>
      <a class="btn btn-outline-primary ml-1 " href="{{ url_for('signup') }}">Sign up</a>

    {% endif %}
      </div>
</div>

</nav>
