html {
  font-size: 14px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* for forms */
body {
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fa-facebook, .fa-facebook-square {
  color: #3b5998
}

.fa-meetup, .fa-meetup-square {
  color: #e0393e
}

.fa-youtube, .fa-youtube-square {
  color: #c4302b
}

.fa-slack {
  color: #611F69
    /*; #4a154b
    background-color: #7C3085 */
}

.fa-github, .fa-github-square {
  color: #333
}

/* temporarily deactivate unused link*/
.inactiveLink {
  pointer-events: none;
  cursor: default;
}
/* jumbotron */
.jumbotron-fluid {
  padding: 20px 0;
  margin-bottom: 0;
}
.lead {
	font-size: 1.5rem;
}
