<footer class="sticky-bottom  pt-4 my-md-5 pt-md-5 border-top">

  <div class="text-center">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item text-muted">Follow us on:</li>
      <li class="list-inline-item" >
        <a href="https://www.facebook.com/groups/devopsloft/" target="_blank">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
      </li>
      
      <li class="list-inline-item">
          <a href="https://www.meetup.com/DevOps-Loft/" target="_blank">
            <i class="fab fa-meetup fa-2x"></i>
          </a>
      </li>

      <li class="list-inline-item">
          <a href="https://github.com/DevOpsLoft/DevOpsLoft" target="_blank">
            <i class="fab fa-github fa-2x"></i>
          </a>
      </li>

      <li class="list-inline-item">
          <a href="https://www.youtube.com/channel/UChv_8AbbznYS-xa256nXV6w" target="_blank">
            <i class="fab fa-youtube fa-2x"></i>
          </a>
      </li>
		  
      <li class="list-inline-item">
          <a href="https://devopsloft.slack.com" target="_blank">
            <i class="fab fa-slack fa-2x"></i>
          </a>
      </li>

    </ul>
  </div>

</footer>