<!DOCTYPE html>
<html>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="DevOps Loft" />
    <meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    {% block stylesheets %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- For autodismissing confirmation alert after subscription-->
    <script>
    setTimeout(function() {
      document.querySelector('.alert').remove();
    }, 2000);
    </script>

</head>
<body>
    <div class="container">

<!-- webpage content goes here inbody -->
<div w3-include-html="header.html">My HTML include will go here.</div>
<script>
  w3.includeHTML();
</script>

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
  </div>
  {% endfor %}
{% endif %}
{% endwith %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
  <footer>
      <p>&copy; DevOps Loft</p>
  </footer>
    </div>
</body>
</html>
