<header>
  <div id="logo">DevOps Loft</div>
  <nav id="menu">
    <a class="itm" href="{{ url_for('home') }}">Home</a>
    <a class="itm" href="#/about.html">About</a>
    <a class="itm" href="{{ url_for('contact') }}">Contact</a>
    <a class="itm" href="{{ url_for('subscribe') }}">Subscribe</a>
    {% if name.username %}
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome, {{ name.username }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <a href="#" class="itm">Welcome, {{ name.username }}</a>
      <a class="itm" href="{{ url_for('logout') }}">Log out</a>
    {% else %}
      <a class="itm" href="{{ url_for('login') }}">Login</a>
      <a class="itm" href="{{ url_for('signup') }}">Sign up</a>
    {% endif %}
  </nav>
</header>
