{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}

    <h2 class="pb-3 mb-4 border-bottom text-center">
        Drive our Career Path into DevOps
    </h2>
      
    <div>
        <h3>What does that mean?</h3>
        The community mission is transferring DevOps knowledge by practice. We are implementing an open source web app (www.devopsloft.io), while picking up DevOps technologies, like: git (GitHub), AWS, Linux, scripting, Jenkins, Chef/Ansible.
        <br>
        The goal of the community is addressing the lack of experienced DevOps specialists to fulfill the increasing demand.
    
        <h3>How?</h3>
          By assisting you to build a career path in the DevOps domain - Promoting DevOps knowledge transfer within a study group which develops a real webapp (www.devopsloft.io). And, matching you with potentials organizations who seek DevOps engineers with your skillset (technical and personal).
          <br>
          We will study together DevOps, once a week, two hours session frontally using Skype or suchlike (shared lesson). The rest of the work is done on your own. You will work on issues assigned to you. One can order personal coaching/training.
          
          You are welcomed to attend the program as long as you feel it is valuable for you.
        
        <h3>What to bring</h3>
        <ul>
          <li>Yourself</li>
          <li>Your laptop</li>
        </ul>
    
        We will be working with services like: GitHub, AWS and others. Some of those services require payments. Those costs are on your own expense.
    
        <h3>Costs</h3>
        Participation is free of charge and commitment
    
        <h3>Weekly Shared Lesson</h3>
        <p></p>Every Tuesday 10AM Israel Time via Skype</p>
    
        <p>If you'd like to add a feature or correct a defect, please open a pull request.</p>
    
        <p>If you have questions or suggestions, please open an issue.</p>
    
        <h4>Recommended skills</h4>
        <p>A degree in Computer Science/Software Development/Industrial Engineering/related technical discipline or equivalent experience (DEV/IT/OPS) Ability to understand and write code.</p>
    </div>
 
 
    
{% endblock %}

  

 

