{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
           
        <form class="form-signin " method="POST" action="/subscribe" >
            <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
            
            <h1 class="h3 mb-3 font-weight-normal text-center">Subscription</h1>
            {{ subscribe_form.hidden_tag() }}
            <label for="first_name" class="sr-only">First Name</label>
            {{ render_field(subscribe_form.first_name, class_="form-control", placeholder="First Name")}}
            <label for="last_name"class="sr-only" >Last Name</label>
            {{ render_field(subscribe_form.last_name, class_="form-control", placeholder="Last Name")}}
            <label for="email" class="sr-only">Email</label>
            {{ render_field(subscribe_form.email, class_="form-control", placeholder="Email")}}
            <label for="expertise" class="sr-only">Expertise</label>
            {{ render_field(subscribe_form.expertise, class_="form-control", placeholder="Expertise")}}

            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" >Subscribe</button>
        </form>
      
{% endblock %}