{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div>
    <p>
        We have long recognized that there are many jobs for DevOps positions 
        and on the other hand many candidates without the knowledge required to 
        be accepted.
        Therefore and accordingly, the Bakery wants to give head to the 
        challenge
    </p>
    <p>
        What's in the program:
        <ul>
            <li>The profession we chose to train - CI / CD</li>
            <li>About 15 weekly sessions</li>
            <li>Built-in mentoring</li>
            <li>Knowledge sharing by industry and profession veterans</li>
            <li>Practical workshops</li>
        </ul>
    </p>
    <p>
        The program is an initiative of good people in the middle of the road. 
        Non-profit and small print. Everything on the table.
        If not understood from the previous sentence then the intent is that 
        there is no commercial entity behind the initiative and it is at no cost
        to the participants.
        We want to share knowledge and help more quality people reach the 
        professions of DevOps. And all this voluntarily.
    </p>
    <p>
        Disclaimers:
        <ul>
            Do you think there are no small print? LoL
            <li>It is not a course in the ordinary sense of the word</li>
            <li>This is not a formal training</li>
            <li>There is no certificate at the end</li>
            <li>There is no guarantee that you will find a job in the profession</li>
            <li>There is no commitment to everything !!!!</li>
            <li>Kapish?</li>
        </ul>
    </p>
 </div>  
{% endblock %}
