events {}

http {
  server {
    listen {{ WEB_SECURE_PORT }} ssl;
    server_name localhost;
    ssl_certificate /etc/letsencrypt/live/www.devopsloft.io/localhost.crt;
    ssl_certificate_key /etc/letsencrypt/live/www.devopsloft.io/localhost.key;
    location / {
      proxy_pass http://app:{{ APP_PORT }}/;
    }
  }

  server {
    listen {{ WEB_PORT }};
    server_name localhost;
    location /.well-known/acme-challenge/ {
      root /var/www/certbot;
    }
    location / {
      proxy_pass http://app:{{ APP_PORT }}/;
    }
  }
}
