server {
  listen {{ WEB_PORT }};
  server_name {{ SERVER_NAME }};
  server_tokens off;

  location /.well-known/acme-challenge/ {
    allow all;
    root /var/www/certbot;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}
server {
  listen {{ WEB_SECURE_PORT }} ssl;
  server_name {{ SERVER_NAME }};
  server_tokens off;

  ssl_certificate /etc/letsencrypt/live/{{ SERVER_NAME }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ SERVER_NAME }}/privkey.pem;
  include /options-ssl-nginx.conf;
  ssl_dhparam /ssl-dhparams.pem;

  location / {
    proxy_pass http://app:{{ APP_PORT }};
  }
}

