{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}

  <form class="form-signin" method="POST" action="/signup">
    <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    
    <h1 class="h3 mb-3 font-weight-normal text-center">Create account</h1>
    {{ signupForm.hidden_tag() }}
   
    <label for="first_name" class="sr-only">Username</label>
    {{ render_field(signupForm.username, class_="form-control", placeholder="Username")}}
    
    <label for="last_name"class="sr-only" >Password</label>
    {{ render_field(signupForm.password, class_="form-control", placeholder="Password")}}
    
    <label for="email" class="sr-only">Email</label>
    {{ render_field(signupForm.email, class_="form-control", placeholder="Email")}}
   
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" >Sign Up</button>
  </form>

</div> <!-- /container -->
{% endblock %}